<configuration scan="true" scanPeriod="60">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%date %replace([%-15.15thread]){'\s', ''} fruit-salad %-5level %X{uniqueRequestId} %logger{36}%replace( %X{log-keyword} ){' ',' '}- %msg%nopex%n
        </Pattern>
      </layout>
    </encoder>
  </appender>


  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>target/logs/fruit-salad-test.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>target/logs/fruit-salad-test.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>1</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>%date %level %replace([%-15.15thread]){'\s', ''} fruit-salad %X{uniqueRequestId} %logger{36}%replace( %X{log-keyword} ){' ',' '}- %msg%nopex%n
        </Pattern>
      </layout>
    </encoder>
  </appender>


  <appender name="wire" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>target/logs/fruit-salad-test-httpwire.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>target/logs/fruit-salad-test-httpwire.%i.log</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>1</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%date %level %X{uniqueRequestId} %m%n</pattern>
      </layout>
    </encoder>
  </appender>


  <logger name="httpclient.wire" level="DEBUG" additivity="false">
    <appender-ref ref="wire"/>
  </logger>
  <logger name="org.apache.commons.httpclient" level="DEBUG" additivity="false">
    <appender-ref ref="wire"/>
  </logger>

  <logger name="org.apache.http" level="DEBUG" additivity="false">
    <appender-ref ref="wire"/>
  </logger>

  <logger name="client.httpwire" level="DEBUG" additivity="false">
    <appender-ref ref="wire"/>
  </logger>


  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <logger name="net.javacrumbs" level="OFF"/>
  <logger name="com.token.replacement" level="OFF"/>
  <logger name="org.lightadmin" level="ERROR"/>

  <logger name="com.mangofactory.swagger" level="ERROR"/>
  <logger name="org.springframework" level="ERROR"/>
  <logger name="org.springframework.ejb.access" level="OFF"/>
  <logger name="org.springframework.web.servlet.resource" level="ERROR"/>
  <logger name="org.springframework.web.servlet.mvc.annotation" level="ERROR"/>
  <logger name="org.springframework.web.client.HttpMessageConverterExtractor" level="ERROR"/>
  <logger name="org.springframework.transaction.interceptor" level="OFF"/>
  <logger name="org.springframework.web.client.RestTemplate" level="WARN"/>

  <logger name="com.smartframework.stub.core.http.request.logger" level="DEBUG"/>
  <logger name="com.smartframework.stub.server" level="INFO"/>
  <logger name="com.smartframework.stub.server.errorhandler" level="INFO"/>
  <logger name="com.smartframework.stub" level="INFO"/>
  <logger name="com.smartframework.stub.core.springframework.http.client" level="OFF"/>
  <logger name="com.smartframework.stub.core.http.converter.xml" level="OFF"/>


  <logger name="stub.unmatched.request" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </logger>

  <logger name="stub.request" level="INFO"/>
  <logger name="stub.response" level="INFO"/>
  <logger name="smart.parser" level="INFO"/>
  <logger name="net.sf.ehcache" level="ERROR"/>


</configuration>
